@import "tailwindcss";

@theme {
  --color-brand: #22d3ee;
  --color-brand-hover: #67e8f9;
  --color-brand-dark: #0891b2;
  
  --color-base-background: #020617;
  --color-base-surface: #0f172a;
  --color-base-card: #1e293b;
  --color-base-border: #334155;
}

/* Estilização da Scrollbar para combinar com o tema */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-base-background); 
}
::-webkit-scrollbar-thumb {
  background: var(--color-base-border); 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-dark); 
}

/* Remove as setas feias dos inputs de número */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}